<main>
    <h1 id="curso">Curso: Desenvolvimento de Sistemas</h1>
    <h2 id="nomeluiz">Nome:Luiz Fernando</h2>
    <h2 id="nomeflavia">Nome: Flávia kawane</h2>
  <main class="corpo">
    <h2 id="objluiz">Objetivo Profissional: (luiz) Me tornar um programado Full-Stack em poucos anos e poder construir aplicaçõs web, mobile,sites e me tornar cada vez mais qualificado com o passar do tempo e além de  pode usufrui de  uma vida mais tranquila longe da correria das grandes cidades e por fim pode viaja pelo mundo algo que essa área pode oferecer se você se esforçar e se dedicar  </h2>
    <h2 id="objflavia">Objetivo Profissional: (Flávia) Lorem ipsum dolor sit amet, consectetur adipisicing elit. At accusantium inventore in enim quisquam, veritatis iusto recusandae blanditiis animi nisi illum quis labore hic provident officia eaque perspiciatis maxime dolores.</h2>
  
    <h2 id="hobluiz">Hobbies: (luiz) No meu tempo livre gosto de assistir séries,filmes,documentários,animes,jogos e vídeos no youtube.Além disso, costumo fazer algúns projetos pessoais de programação para melhor a minha lógica e habilidades de desenvolvimento de aplicações </h2>
    <h2 id="hobflavia">Hobbies: (flávia) Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo quam similique! Sequi tenetur itaque, reiciendis vel ipsam dolorem neque dolores, ipsa asperiores fugit, suscipit quia. Vel natus officia voluptas?</h2>
  </main>
  <footer  class="rodape">
    <h2 id="contluiz">Contatos luiz</h2>
    <a id="git" href="https://github.com/Fernand0Silva" target="_blank">Github</a>
    <a id="lin" href="https://www.linkedin.com/in/luiz-fernand0/" target="_blank">Linkedln</a>
  
    <h2 id="contflavia">Contatos flavia</h2>
    <a id="github" href=" # " target="_blank">Github</a> <br>
    <a id="link" href=" # " target="_blank">Linkedin</a>
  </footer>
</main>

<router-outlet></router-outlet>
